// Override default variable here
$primary: #DCF763;
$secondary: #989C94;
$success: #18FF6D;
$warning: #FFD166;
$danger: #EC4E20;
$info: #90FCF9;
$light: #F2F4F3;
$dark: #011627;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);

@import "../../node_modules/bootstrap/scss/bootstrap";

html, body {
 background-color: $light;
 color: $dark;
 font-size: 1rem;
 font-family: 'Montserrat', sans-serif;
}
