// Override default variable here
$primary: #dcd6f7;
$secondary: #191D32;
$success: #06D6A0;
$info: #76E5FC;
$warning: #FFD166;
$danger: #EF476F;
$light: #f9f9f9;
$dark: #202020;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);

@import "../../node_modules/bootstrap/scss/bootstrap";

html, body {
 background-color: $light !important;
}