<html lang="en">
<!--HEADER-->
<head>
  <%- include('layouts/header'); %>
  <title><%= locals.docTitle || 'CliniClick'; %></title>
</head>
<body class="d-flex flex-column min-vh-100">
<!--NAVBAR-->
<%- include('layouts/navbar') %>
<!--MAIN CONTENT-->
<header class="flex-grow-1">
  <div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-6 fw-bolder"><i class="fa-solid fa-exclamation-triangle me-3"></i>Error - 404</h1>
    <p>Page Not Found</p>
  </div>
</header>
<!--FOOTER-->
<%- include('layouts/footer') %>
</body>
</html>