<html lang="en">
<!--HEADER-->
<head>
  <%- include('layouts/header'); %>
  <title><%= locals.docTitle || 'CliniClick'; %></title>
</head>
<body class="d-flex flex-column min-vh-100">
<!--NAVBAR-->
<%- include('layouts/navbar') %>
<!--MAIN CONTENT-->
<!--FOOTER-->
<%- include('layouts/footer') %>
</body>
</html>