<html lang="en">
<!--HEADER-->
<%- include('layouts/header'); -%>
<body class="d-flex flex-column vh-100">
<!--NAVBAR-->
<%- include('layouts/navbar') -%>
<!--MAIN CONTENT-->
<main class="flex-grow-1">
  <div class="container my-5">
    <div class="mx-auto">
      <div class="row">
        <div class="col-12 mb-4"><h1 class="display-5">Register</h1></div>
      </div>
      <div class="row mb-3 text-dark">
        <div class="col-12">
          <span>Already a user? </span><a href="/login" class="link-dark">Login</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 mb-3">
          <div class="form-floating">
            <input type="email" name="email" value="" id="email" class="form-control" placeholder="e.g. john@email.com"
                   required>
            <label for="email">Email *</label>
          </div>
          <div class="mx-1 mt-1">
            <small class="input-feedback">e.g. john@email.com</small></div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="form-floating">
            <input type="password" name="password" value="" id="password" class="form-control"
                   placeholder="Must be 8 or more alphanumeric characters" required>
            <label for="password">Password *</label>
          </div>
          <div class="mx-1 mt-1">
            <small class="input-feedback">Must be 8 or more alphanumeric (no specials) characters</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 mb-3">
          <div class="form-floating">
            <input type="text" name="firstName" value="" id="firstName" class="form-control" placeholder="e.g. John"
                   required>
            <label for="firstName">Firstname *</label>
          </div>
          <div class="mx-1 mt-1">
            <small class="input-feedback">e.g. John</small></div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="form-floating">
            <input type="text" name="lastName" value="" id="lastName" class="form-control" placeholder="e.g. Smith"
                   required>
            <label for="lastName">Lastname *</label>
          </div>
          <div class="mx-1 mt-1">
            <small class="input-feedback">e.g. Smith</small></div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="form-floating">
            <input type="date" name="dob" value="" id="dob" class="form-control"
                   placeholder="e.g. 22/01/1999">
            <label for="dob">Date of birth</label>
          </div>
          <div class="mx-1 mt-1">
            <small class="input-feedback">e.g. 22/01/1999</small></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 mb-3">
          <div class="form-floating">
            <input type="text" name="phone" value="" id="phone" class="form-control"
                   placeholder="e.g. +1-444-333-2222">
            <label for="phone">Phone</label>
          </div>
          <div class="mx-1 mt-1">
            <small class="input-feedback">e.g. +1-444-333-2222</small></div>
        </div>
        <div class="col-12 col-md-8 mb-4">
          <div class="form-floating">
            <input type="text" name="address" value="" id="address" class="form-control"
                   placeholder="e.g. 1 Some St, Suburb, Province A1A 1A1">
            <label for="address">Address</label>
          </div>
          <div class="mx-1 mt-1">
            <small class="input-feedback">e.g. 1 Some St, Suburb, Province A1A 1A1</small></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-dark px-5" id="registerBtn">Register</button>
        </div>
      </div>
    </div>
  </div>
</main>
<!--FOOTER-->
<%- include('layouts/footer') -%>
<script src="/js/register.js" crossorigin="anonymous"></script>
</body>
</html>